@import "tailwindcss";
@import "fumadocs-ui/css/lib/default-colors.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --color-fd-primary: hsl(330, 75%, 52%);
}

.dark {
  --color-fd-primary: hsl(330, 85%, 65%);
}

.dark #nd-sidebar {
  --color-fd-muted: hsl(330, 20%, 14%);
  --color-fd-secondary: hsl(330, 22%, 16%);
  --color-fd-muted-foreground: hsl(330, 18%, 68%);
}
